## Markdown Basics

* **Bold** <br>
* *Itallic* <br>
* ***IB*** <br>
* Normal Text
    * sublist1
    * sublist2
1. Ordered list element1
2. Ordered list element2
- []Option 1
- []Option 2
- [x]Option 3

I get 10 times more traffic from [Google][] than from
[Yahoo][] or [MSN][].

  [google]: http://google.com/        "Google"
  [yahoo]:  http://search.yahoo.com/  "Yahoo Search"
  [msn]:    http://search.msn.com/    "MSN Search"

[Jupyter Logo](jupyter.png)

<img src="jupyter.png" style="float:left" width=100px height=100px>

### Python Basics

###### Python version 3.7
 - Scripting Language
 - Object Oriented
 - Functional

In [9]:
# Python comments

print("hai sana", "!", end="||") # Basic output
print("Hello Pyhton")

hai sana !||Hello Pyhton

### Assignment

In [14]:
n1 = 123456  # single Variable Assignment
n1 = n2 = n3 = n4 = n1  # Multi Variable Assignment of the same value
a, b, c = 123, 234, 345 # Multi variable assignment with diffrerent values
print(a,b,c)

123 234 345

###  Data Types & Conversions
 - int
 - float
 - string

In [36]:
type(a)
s1 = "Python"
type(s1)
f1 = 12.345
type(f1)
float(str(int(f1)))

12.0

### Arithmetic Operations
- +
- -
- *
- /
- %
- **

In [30]:
n1 % 11

n3 = n2 ** 12
# type(n3)
len(str(n3))

atoms = 10 ** 82
len(str(atoms))
type(str(atoms))

str

### Conditionals

In [39]:
if atoms < 10 ** 9:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [41]:
# check if a number is Even
n=123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [43]:
# Find the greatest of three numbers
n1=input("enter the first number")
n2=input("enter the second number")
n3=input("enter the third number")
if n1>n2 and n1>n3:
    print(n1, "is the greatest")
elif n2>n3:
    print(n2, "is the greatest")
else:
    print(n3, "is the greatest")

enter the first number123
enter the second number234
enter the third number456
456 is the greatest

In [49]:
# Check if a year is a Leap year
y=int(input("entern a year"))
if (y%400==0):
    print("is a leaper")
else:
    print("not a leap year")

entern a year2019
not a leap year

In [ ]:
# Check if a number exists in a given range
n1=
lb=
ub=

In [57]:
# Calculate the number of digits in a given number
n=int(input("enter a number"))
len(str(n))

enter a number123456

6

In [48]:
# Check if a number is a multiple of 10
n=int(input("enter a number"))
if(n%10==0):
    print("It is multiple of 10")
else:
    print("Not multiple")

enter a number20
It is multiple of 10

In [60]:
# Check if a number is a factor of 1000
n1=200
if 1000%n1==0:
    print(n1,"is a factor of 10")
else:
    print(n1, "is not a factor of 10")

200 is a factor of 10

In [54]:
# Check if given string is equal to a number
s1="Python"
n1=123456
if str(n1)==s1:
    print(n1, "is equal to", s1)
else:
    print(n1, "is not to", s1)

123456 is not to Python

In [55]:
# Calculate the square root of a number without functions
n1=123
n1**0.5          #(123)^1/2

11.090536506409418

In [52]:
# Calculate the number of nano(10^9) seconds in a given year(considering leap year logic)
year=2019
if(year%400==0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31536000000000000